MISTRAL_API_KEY=8Dp4WE0jzjTxxrQ99I9ibNixcHVxJkvB
TAVILY_API_KEY=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
FIREBASE_PROJECT_ID=chatbot-infraestructura
GOOGLE_APPLICATION_CREDENTIALS=../service-account.json
